body {
    background-color: rgb(247, 243, 239);
}

.h1 {
    color: green;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 8px;
}